body {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

h1 {
    font-size: 1.9em;
}

header, main {
    color: #172b4d;
    display: inline-block;
    height: 100vh;
    vertical-align: top;
    padding: 20px;
    margin: 0px;
}

header {
    width: 300px;
    background-color: #f4f5f7;
    overflow: hidden;
}

#imageCount {
    width: calc(100% - 10px);
}

main {
    background-color: #0079bf;
    width: calc(100vw - 300px);
    overflow: auto;
    position: absolute;
    /* white-space: nowrap; */
}

/* main * {
    white-space: normal;
} */

.algorithm {
    background-color: #ebecf0;
    padding: 5px 10px;
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    border-radius: 5px;
}

.train {
    color: white;
    background-color: #5aac44;
    width: calc(100% - 20px);
    padding: 10px;
    font-size: 0.9em;
    border-radius: 5px;
    border: none;
    margin: 10px;
    cursor: pointer;
}

#trainAll {
    width: 100%;
    margin-left: -2px;
    margin-top: 30px;
}

.train:hover {
    background-color: #65be4c;
}

.algorithmNew {
    padding: 10px;
    text-align: right;
}

#algorithms, .algorithmNew {
    display: inline-block;
}

#algorithmsList, #addAlgorithm {
    border-radius: 5px;
    height: 30px;
    vertical-align: top;
}

#algorithmsList {
    width: calc(100% - 42px);
    text-align: left;
}

#addAlgorithm {
    display: inline-block;
    margin: 0px 3px;
    cursor: pointer;
    font-size: 1.2em;
    border: none;
    width: 30px;
    outline : none;
    background-color: #65be4c;
    color: white;
}

h3 {
    font-size: 1.3em;
    margin: 5px 0px;
    height: 64px;
}

#datasets {
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.deleteBtn {
    position: relative;
    left: calc(100% - 21px);
    z-index: 1;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    border: none;
    background-color: #00000000;
    outline : none;
    margin-bottom: -20px;
    cursor: pointer;
}

.deleteBtn:hover {
    background-color: #d9dce2;
}

.eval {
    text-align: center;
}

.time {
    width: 30%;
    display: inline-block;
    transform: translateX(-5px);
}

.retrain, .download {
    display: inline-block;
    margin: 10px 2px;
}

.retrain {
    width: calc(100% - 55px);
    background-color: #89609e !important;
}

.download {
    width: 40px;
    background-color: #838c91;
}

input[type="button"]:disabled {
    background-color: #838c91 !important;
}

.knobs > * > * {
    display: inline-block;
    vertical-align: middle;
}

.knobs input[type="range"] {
    margin: 0px 10px;
}

.splitInput {
    width: calc(100% - 153px);
}

.epochInput {
    width: calc(100% - 114px);
}

.knobs p {
    margin: 5px 1px;
}

h4 {
    margin: 10px 0px;
}
.imageSplit {
    text-align: center;
}

.imageSplit > * {
    display: inline-block;
    text-align: center;
    width: calc(50% - 20px);
    margin: 2px 5px;
}

.imageSplit p {
    margin: 5px 10px;
}

.loader {
    border: 8px solid white;
    border-radius: 50%;
    border-top: 8px solid gray;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    margin: 8vh auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}